.blog-title {
  cursor: pointer;
}

.sidebar-picture {
  border-radius: 50%;
}

.sidebar-name {
  margin-bottom: 5px !important;
}
.
.blog-post-item {
  margin-bottom: 15px;
  display: block;
}

.media-icon {
    width: 32px;
    height: auto;
    margin-right: 15px;
}
